@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after{
    box-sizing: border-box;
    font-family: Inter;
}

body {
    margin: 0;
    padding: 0;
}

#flex-container {
    display: flex;
    flex-direction: row;
}

/* Panorama */

#image {
    height: 100vh;
    flex-basis: 35%;
    line-height: 0;
    position: relative;
}

#image #panorama {
    height: 100vh;
    width: 35vw;
    object-fit: cover;
}

/* Logo */
#logo {
    position: absolute; 
    top: 35vh;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 50%);
    /* Center Image */
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    height: 80%;
}

/* Photo Credit */
#image #credit {
    position: absolute;
    top: 95vh;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;

}

#image span,
#image span a {
    color: white;
    font-size: 0.8rem;
}

/* Content Container - Right Side */
#content-container {
    background-color: #F8F8F8;
    color: #111111;
    flex-basis: 65%;
}

#text {
    width: auto;
    padding: 2.5em;
}

#text span {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.4;
}