@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --bg-color: #FFFFFF;
    --surface-color: #F3F4F6;
    --text-main: #111827;
    --primary-color: #10B981;
    --accent-color: #6366F1;
}

*, *::before, *::after{
    box-sizing: border-box;
    font-family: Inter;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

#flex-container {
    display: flex;
    flex-direction: row;
}

/* Image */
#image {
    height: 100vh;
    flex-basis: 50%;
    line-height: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image #panorama {
    height: 100vh;
    width: 30vw;
    object-fit: cover;
    margin: 5vh;
}

/* Photo Credit */
#image #credit {
    position: absolute;
    top: 95vh;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;

}

#image span,
#image span a {
    color: var(--text-main);
    font-size: 0.8rem;
}

/* Content Container - Right Side */
#content-container {
    color: #111111;
    flex-basis: 60%;
    /* Spacing Content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

#text,
#content-container #form-container {
    width: auto;
    margin: 0 1.5em;
}

#text span {
    /* font-weight: bold; */
    font-size: 1.2rem;
    line-height: 1.4;
}

/* Form Section */
h2 {
    margin: 0 0 1em 0;
    font-size: 1.3rem;
}

/* Form */
form {
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    gap: 1em;
    column-gap: 4em;

}

form div {
    display: flex;
    flex-direction: column;
}

/* Button */
button {
    width: 15em;
    padding: 0.8em 2.5em;
    margin: 0em 1.5em;
}

#login {
    padding: 0em 1.5em;
}

/* LOGIN */
a,
a:visited {
    color: #111;
    text-decoration: none;
    font-size: 1em;
}